@{
    ViewData["Title"] = "Home Page";
}
@inherits S25_AspNetCore_ModelValidation.Models.BaseClasses.MyShopProjectBaseRazorePage<string>


@ShamsiDate
<br />
@IsAuthenticated
<br />
@(5 - 2)

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
